---
import Layout from "../layout/layout.astro";
import ImageGallery from "../components/ImageGallery.astro";
import { Image } from "astro:assets";
import img1 from "../assets/images/img_01.png";
import img2 from "../assets/images/img_02.png";
import img3 from "../assets/images/img_03.png";
import img4 from "../assets/images/img_04.png";

import plantinha from "../assets/images/plantinha.png";
import whatsappIcon from "../assets/images/whatsapp.png";

import profile from "../assets/images/profile.png";
import lines01 from "../assets/images/lines01.png";
import lines02 from "../assets/images/lines02.png";
import mobileLineMarrom from "../assets/images/mobile_linha marrom.png";
import locale from "../assets/images/locale.png";
import mail from "../assets/images/mail.png";
import phone from "../assets/images/phone.png";
---

<Layout title="Fernanda Fortes - Psicóloga Infanto-juvenil">
  <header class="text-center">
    <h1
      class="text-5xl md:text-6xl text-amber-950 font-semibold mt-[8px] md:mt-[24px]"
    >
      <i>Fernanda Fortes</i>
    </h1>
    <p class="text-yellow-600/85! text-2xl"><i>psicóloga infanto-juvenil</i></p>
    <p class="text-yellow-600/85! text-2xl"><i>CRP: 06/200772</i></p>
    <div class="h-[50px]"></div>
    <div class="relative h-[200px] md:hidden mx-auto w-full max-w-[1920px]">
      <Image
        src={plantinha}
        alt="plantinha"
        class="absolute left-[220px] top-0 size-[150px] md:size-[200px] -z-10"
      />
      <Image
        src={lines01}
        alt="line"
        class="relative w-screen mx-auto top-[130px] -z-10"
      />
    </div>
  </header>

  <main class="container mx-auto">
    <div
      class="rounded-lg border-2 border-yellow-400 md:border-none px-2 m-[8px]"
    >
      <section class="flex md:py-[75px] flex-col justify-start md:pl-[50px]">
        <div class="md:w-[50%]">
          <h2
            class="text-yellow-600/85! mb-[15px] text-center md:text-start text-3xl md:text-5xl"
          >
            atendimento psicológico para
          </h2>
          <h3
            class="text-amber-950 text-6xl text-center md:text-end font-semibold break-keep"
          >
            crianças e adolescentes
          </h3>
          <div class="h-[50px] md:h-[100px]"></div>
        </div>
        <div class="flex justify-center items-center">
          <p class="text-center text-yellow-600/85 text-2xl">
            especialista em Terapia Cognitivo Comportamental
          </p>
        </div>
        <div
          class="relative hidden md:block mx-auto w-full max-w-[1920px] top-0"
        >
          <Image
            src={plantinha}
            alt="plantinha"
            class="absolute right-[5vw] -bottom-[0.5vw] w-[200px] h-[200px] -z-10"
          />
          <Image
            src={lines01}
            alt="line"
            class="absolute max-w-[1280px] mx-auto -bottom-[25px] w-full -z-10"
          />
        </div>
      </section>
    </div>

    <div class="h-[50px]"></div>

    <div class="md:hidden">
      <ImageGallery
        items={[
          {
            src: img1,
            alt: "Foto atendimento 1",
            lines: [
              { regular: "modalidades", bold: "presencial" },
              { regular: "e online" },
            ],
            align: "right",
          },
          {
            src: img2,
            alt: "Foto atendimento 2",
            lines: [{ regular: "atendimento", bold: "humanizado" }],
            align: "left",
          },
          {
            src: img3,
            alt: "Foto atendimento 3",
            lines: [
              { regular: "ênfase na", bold: "resolução" },
              { regular: "de problemas" },
            ],
            align: "right",
          },
          {
            src: img4,
            alt: "Foto atendimento 4",
            lines: [{ regular: "ambiente", bold: "acolhedor" }],
            align: "left",
          },
        ]}
      />
    </div>
    <div class="hidden md:flex justify-center flex-wrap gap-[50px]">
      <Image src={img1} class="max-w-[250px]" alt="Foto atendimento 1" />
      <Image src={img2} class="max-w-[250px]" alt="Foto atendimento 2" />
      <Image src={img3} class="max-w-[250px]" alt="Foto atendimento 3" />
      <Image src={img4} class="max-w-[250px]" alt="Foto atendimento 4" />
    </div>
    <div class="h-[50px]"></div>

    <div
      class="relative md:hidden mx-auto w-full max-w-[1920px] top-0 h-[200px]"
    >
      <Image
        src={plantinha}
        alt="plantinha"
        class="absolute right-[5vw] bottom-0 w-[200px] h-[200px] -z-10"
      />
      <Image
        src={lines01}
        alt="line"
        class="absolute max-w-[1280px] mx-auto bottom-[5px] w-full -z-10"
      />
    </div>
  </main>

  <div class="h-[50px]"></div>

  <section
    class="whitespace-pre text-xl md:text-3xl md:text-5xl gap-[20px] md:flex flex-col hidden"
  >
    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-yellow-600/85!">modalidades</p>
      <p class="text-amber-950 font-semibold">presencial</p>
      <p class="text-yellow-600/85!">e online</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-yellow-600/85!">atendimento</p>
      <p class="text-amber-950 font-semibold">humanizado</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-yellow-600/85!">ênfase na</p>
      <p class="text-amber-950 font-semibold">resolução</p>
      <p class="text-yellow-600/85!">de problemas</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-yellow-600/85!">ambiente</p>
      <p class="text-amber-950 font-semibold">acolhedor</p>
    </div>
  </section>

  <div class="h-[50px] hidden md:block"></div>

  <section
    class="flex md:flex-row flex-col-reverse justify-center items-center gap-[50px] md:px-[50px]"
  >
    <Image src={profile} alt="Foto da psicóloga Fernanda Fortes" class="max-w-[300px] md:max-w-[500px]" />
    <div class="container">
      <h2 class="text-amber-950 font-bold text-4xl px-4">sobre mim</h2>
      <div class="h-[15px] md:hidden"></div>

      <div
        class="text-amber-900 text-[1.5rem] flex flex-col text-left border-2 rounded-xl border-yellow-400 md:border-none px-4 gap-[20px] py-4 md:pr-[200px] m-[8px]"
      >
        <p>
          Sou psicóloga com especialização em Terapia Cognitivo-Comportamental
          (TCC), uma abordagem que convida a olhar com mais gentileza para os
          pensamentos que moldam nossas emoções, comportamentos e relações.
        </p>
        <p>
          Acredito que cada pessoa carrega uma história única — e é a partir
          dessa história que construímos, juntos, caminhos mais conscientes,
          leves e possíveis. Valorizo a escuta sensível, o acolhimento e o
          cuidado com a individualidade de cada um que chega até aqui.
        </p>
        <p>
          Atendo crianças e adolescentes, sempre respeitando o tempo e a forma
          de ser de cada paciente. Com crianças, o brincar é nosso principal
          canal de comunicação: é por meio dele que acessamos emoções,
          fortalecemos vínculos e promovemos mudanças de maneira lúdica e
          segura. Já com adolescentes, utilizo estratégias práticas e reflexivas
          que favorecem o autoconhecimento, o equilíbrio emocional e o
          enfrentamento das dificuldades do dia a dia.
        </p>
        <p>
          Gosto de lembrar uma frase de Aaron Beck, criador da TCC, que diz: “A
          maneira como você pensa sobre um problema pode ser mais importante do
          que o próprio problema.” É nesse olhar acolhedor e transformador que
          baseio meu trabalho: ajudar cada pessoa a construir um novo jeito de
          se perceber, de lidar com o mundo e de cuidar de si.
        </p>
        <p>
          Seja bem-vindo(a). Meu espaço é um lugar seguro, de escuta e
          transformação — e será um prazer te acompanhar nessa jornada.
        </p>
      </div>
    </div>
  </section>
  <div class="h-[100px]"></div>

  <div
    class="relative h-[200px] hidden md:block mx-auto w-full max-w-[1920px] top-0"
  >
    <Image
      src={plantinha}
      alt="plantinha"
      class="absolute left-[250px] top-0 w-[200px] h-[200px] -z-10"
    />
    <Image
      src={lines02}
      alt="line"
      class="relative max-w-[1280px] mx-auto top-[160px] w-full -z-10"
    />
  </div>

  <div class="relative h-[200px] md:hidden mx-auto w-full max-w-[1920px]">
    <Image
      src={plantinha}
      alt="plantinha"
      class="absolute left-[220px] top-0 size-[150px] md:size-[200px] -z-10"
    />
    <Image
      src={mobileLineMarrom}
      alt="line"
      class="relative w-screen mx-auto top-[130px] -z-10"
    />
  </div>
</Layout>

<footer class="bg-[#dabe90]">
  <div
    class="flex flex-col md:flex-row py-[50px] justify-between items-start container mx-auto md:p-[50px]"
  >
    <div class="text-center md:text-start">
      <h2 class="text-amber-950 text-6xl font-semibold">
        <i>Fernanda Fortes</i>
      </h2>
      <p class="text-white! text-2xl"><i>Psicóloga Infanto-Juvenil</i></p>
      <p class="text-white! text-2xl"><i>CRP: 06/200772</i></p>
    </div>
    <div class="h-[50px] md:hidden"></div>

    <div class="flex-1 text-end w-full px-[25px] md:px-[50px]">
      <p class="text-amber-950 font-semibold text-xl md:text-2xl">
        atendimento:
      </p>
      <div class="text-semibold text-2xl md:text-2xl flex flex-col">
        <p class="text-white!">seg a sex, das 9h às 19h</p>
        <p class="text-white! flex justify-end items-center">
          <a
            href="https://wa.me/11982118595"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-block mr-2"
          >
            <Image
              src={whatsappIcon}
              alt="logo"
              class="size-8 hover:scale-110 transition-transform"
            />
          </a>
          <Image
            src={phone}
            alt="phone icon"
            class="inline-block w-6 h-6 mr-2"
          /> (11) 9 8211-8595
        </p>
        <p class="text-white!">
          <Image src={mail} alt="mail icon" class="inline-block w-6 h-6 mr-2" />
          fe_fortes80@hotmail.com
        </p>
        <p class="text-white!">
          <Image
            src={locale}
            alt="locale icon"
            class="inline-block w-6 h-6 mr-2"
          /> Rua Tacoma, 161 - sala 5<br />Brooklin, São Paulo
        </p>
      </div>
    </div>
  </div>
</footer>
