---
import Layout from "../layout/layout.astro";
import ImageGallery from "../components/ImageGallery.astro";
import { Image } from "astro:assets";
import img1 from "../assets/images/img_01.png";
import img2 from "../assets/images/img_02.png";
import img3 from "../assets/images/img_03.png";
import img4 from "../assets/images/img_04.png";

import plantinha from "../assets/images/plantinha.png";

import profile from "../assets/images/profile.png";
import lines01 from "../assets/images/lines01.png";
import lines02 from "../assets/images/lines02.png";
import mobileLineMarrom from "../assets/images/mobile_linha marrom.png";
import locale from "../assets/images/locale.png";
import mail from "../assets/images/mail.png";
import phone from "../assets/images/phone.png";
---

<Layout title="Fernanda Fortes - Psicóloga Infanto-juvenil">
  <header class="text-center">
    <h1 class="text-6xl text-amber-950 font-semibold mt-[8px] md:mt-[24px]">
      <i>Fernanda Fortes</i>
    </h1>
    <p class="text-yellow-600/85 text-2xl"><i>psicóloga infanto-juvenil</i></p>
    <p class="text-yellow-600/85 text-2xl"><i>CRP: 06/200772</i></p>
    <div class="h-[50px]"></div>
    <div class="relative h-[200px] md:hidden mx-auto w-full max-w-[1920px]">
      <Image
        src={plantinha}
        alt="plantinha"
        class="absolute left-[220px] top-0 size-[150px] md:size-[200px] -z-10"
      />
      <Image
        src={lines01}
        alt="line"
        class="relative w-screen mx-auto top-[130px] -z-10"
      />
    </div>
  </header>

  <main class="container mx-auto">
    <div
      class="rounded-lg border-2 border-yellow-400 md:border-none px-2 m-[8px]"
    >
      <section class="flex md:py-[75px] flex-col justify-start md:pl-[50px]">
        <div class="md:w-[50%]">
          <h2 class="text-yellow-600/85! text-5xl text-start">
            atendimento psicológico para
          </h2>
          <h3 class="text-amber-950 text-6xl text-end font-semibold break-keep">
            crianças e adolescentes
          </h3>
          <div class="h-[100px]"></div>
        </div>
        <div class="flex justify-center items-center">
          <p class="text-center text-yellow-600/85 text-2xl">
            especialista em Terapia Cognitivo Comportamental
          </p>
        </div>
        <div
          class="relative hidden md:block mx-auto w-full max-w-[1920px] top-0"
        >
          <Image
            src={plantinha}
            alt="plantinha"
            class="absolute right-[5vw] -bottom-[0.5vw] w-[200px] h-[200px] -z-10"
          />
          <Image
            src={lines01}
            alt="line"
            class="absolute max-w-[1280px] mx-auto -bottom-[25px] w-full -z-10"
          />
        </div>
      </section>
    </div>

    <div class="h-[50px]"></div>

    <div class="md:hidden">
      <ImageGallery
        items={[
          {
            src: img1,
            alt: "Foto atendimento 1",
            lines: [
              { regular: "modalidades", bold: "presencial" },
              { regular: "e online" },
            ],
            align: "right",
          },
          {
            src: img2,
            alt: "Foto atendimento 2",
            lines: [{ regular: "atendimento", bold: "humanizado" }],
            align: "left",
          },
          {
            src: img3,
            alt: "Foto atendimento 3",
            lines: [
              { regular: "ênfase na", bold: "resolução" },
              { regular: "de problemas" },
            ],
            align: "right",
          },
          {
            src: img4,
            alt: "Foto atendimento 4",
            lines: [{ regular: "ambiente", bold: "acolhedor" }],
            align: "left",
          },
        ]}
      />
    </div>
    <div class="hidden md:flex justify-center flex-wrap gap-[50px]">
      <Image src={img1} class="max-w-[250px]" alt="Foto atendimento 1" />
      <Image src={img2} class="max-w-[250px]" alt="Foto atendimento 2" />
      <Image src={img3} class="max-w-[250px]" alt="Foto atendimento 3" />
      <Image src={img4} class="max-w-[250px]" alt="Foto atendimento 4" />
    </div>
    <div class="h-[50px]"></div>

    <div
      class="relative md:hidden mx-auto w-full max-w-[1920px] top-0 h-[200px]"
    >
      <Image
        src={plantinha}
        alt="plantinha"
        class="absolute right-[5vw] bottom-0 w-[200px] h-[200px] -z-10"
      />
      <Image
        src={lines01}
        alt="line"
        class="absolute max-w-[1280px] mx-auto bottom-[5px] w-full -z-10"
      />
    </div>
  </main>

  <div class="h-[50px]"></div>

  <section
    class="whitespace-pre text-xl md:text-3xl md:text-5xl gap-[20px] md:flex flex-col hidden"
  >
    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-amber-400">modalidades</p>
      <p class="text-amber-950 font-semibold">presencial</p>
      <p class="text-amber-400">e online</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-amber-400">atendimento</p>
      <p class="text-amber-950 font-semibold">humanizado</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-amber-400">ênfase na</p>
      <p class="text-amber-950 font-semibold">resolução</p>
      <p class="text-amber-400">de problemas</p>
    </div>

    <div class="flex items-center justify-center gap-[8px]">
      <p class="text-amber-400">ambiente</p>
      <p class="text-amber-950 font-semibold">acolhedor</p>
    </div>
  </section>

  <div class="h-[50px] hidden md:block"></div>

  <section
    class="flex md:flex-row flex-col-reverse justify-center items-center gap-[50px] md:px-[50px]"
  >
    <Image src={profile} alt="Foto da psicóloga Fernanda Fortes" />
    <div class="container">
      <h2 class="text-amber-950 font-bold text-4xl px-4">sobre mim</h2>
      <div class="h-[15px] md:hidden"></div>

      <div
        class="text-amber-900 text-[1.5rem] flex flex-col text-left border-2 rounded-xl border-yellow-400 md:border-none px-4 gap-[20px] md:pr-[200px] m-[8px]"
      >
        <p class=">
          A tarefa do psicólogo cognitivo é descobrir leis que estabeleçam
          conexões entre o comportamento e a variedade de aspectos e elementos
          com os quais o comportamento está relacionado, procurando encarar o
          problema de forma mais abrangente.
        </p>
        <p class=">
          A terapia cognitivo-comportamental para adolescentes já produziu
          melhoras em diversos quadros, como depressão, ansiedade, transtornos
          alimentares e abuso de substâncias.
        </p>
        <p class=">
          Entre outras estratégias, a TCC acrescenta atividades positivas e
          reforçadoras à rotina do paciente, além de reestruturar as crenças
          irracionais.
        </p>
        <p class=">
          Na terapia com crianças, utilizamos a brincadeira para entrar no mundo
          da criança e na linguagem da criança, assim formamos uma boa aliança
          terapêutica. As crianças se expressam por meio da brincadeira e é por
          meio dela que conseguimos acessar e modificar cognições disfuncionais.
        </p>
      </div>
    </div>
  </section>
  <div class="h-[100px]"></div>

  <div
    class="relative h-[200px] hidden md:block mx-auto w-full max-w-[1920px] top-0"
  >
    <Image
      src={plantinha}
      alt="plantinha"
      class="absolute left-[250px] top-0 w-[200px] h-[200px] -z-10"
    />
    <Image
      src={lines02}
      alt="line"
      class="relative max-w-[1280px] mx-auto top-[160px] w-full -z-10"
    />
  </div>

   <div class="relative h-[200px] md:hidden mx-auto w-full max-w-[1920px]">
      <Image
        src={plantinha}
        alt="plantinha"
        class="absolute left-[220px] top-0 size-[150px] md:size-[200px] -z-10"
      />
      <Image
        src={mobileLineMarrom}
        alt="line"
        class="relative w-screen mx-auto top-[130px] -z-10"
      />
    </div>
</Layout>

<footer class="bg-[#dabe90]">
  <div
    class="flex flex-col md:flex-row py-[50px] justify-between items-start container mx-auto md:p-[50px]"
  >
    <div class="text-center md:text-start">
      <h2 class="text-amber-950 text-6xl font-semibold ">
        <i>Fernanda Fortes</i>
      </h2>
      <p class="text-white text-2xl"><i>Psicóloga Infanto-Juvenil</i></p>
      <p class="text-white text-2xl"><i>CRP: 06/200772</i></p>
    </div>
    <div class="h-[50px] md:hidden"></div>

    <div class="flex-1 text-end w-full px-[25px] md:px-[50px]">
      <p class="text-amber-950 font-semibold text-xl md:text-2xl">
        atendimento:
      </p>
      <div class="text-white text-semibold text-2xl md:text-2xl flex flex-col">
        <p>seg a sex, das 9h às 19h</p>
        <p>
          <Image
            src={phone}
            alt="phone icon"
            class="inline-block w-6 h-6 mr-2"
          /> (11) 9 8211-8595
        </p>
        <p>
          <Image src={mail} alt="mail icon" class="inline-block w-6 h-6 mr-2" />
          fe_fortes80@hotmail.com
        </p>
        <p>
          <Image
            src={locale}
            alt="locale icon"
            class="inline-block w-6 h-6 mr-2"
          /> Rua Tuiuti, 1612 - sala 3<br />Brooklin, São Paulo
        </p>
      </div>
    </div>
  </div>
</footer>
